<footer>
        <div class="contenedor-padre">
            <iframe class="mapa" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3286.1866261820583!2d-58.44586488510604!3d-34.54882986210229!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb436efe09303%3A0xfb39818e7624ac76!2sDigital%20House!5e0!3m2!1sen!2sar!4v1584058684921!5m2!1sen!2sar" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        
            <div class="texto-dire">
                <p>Retira tu pedido por Monroe 860 los dias Martes de 10 a 17hs.</p>
            </div>
            <div class="contacto">
                <ul>
                    <li>Conectate a nuestras redes:</li>
                    <li><a href="www.instagram.com">Instagram</a></li>
                    <li><a href="www.facebook.com">Facebook</a></li>
                </ul>
            </div> 
        </div>
    </footer>