<!DOCTYPE html>
<html>
    <%- include('partials/head.ejs') %>
    <body>
        <%- include('partials/header.ejs') %>
        
        <main>
            <div class="titulos">
                    <h3 class="encabezado">Bolsones</h3>                    
            </div>
                <section class="vip-products">
                    <article class="producto">
                        <div class="photo-container">
                            <a href="#"><img class="photo" src="../images/mix-verduras.jpg"></a>
                        </div>
                        <h2>Bolson 1</h2>
                        <p>$100</p>
                    </article>
                    <article class="producto">
                        <div class="photo-container">
                            <a href="#"><img class="photo" src="../images/mix-verduras.jpg"></a>
                        </div>
                        <h2>Bolson 2</h2>
                        <p>$100</p>
                    </article>
                    <article class="producto">
                        <div class="photo-container">
                            <a href="#"><img class="photo" src="../images/mix-verduras.jpg" alt="pdto 03"></a>
                        </div>
                        <h2>Bolson 3</h2>
                        <p>$100</p>
                    </article>
                </section>
        </main>
        <hr>
        <%- include('partials/footer.ejs') %>
        <%- include('partials/scripts.ejs') %>
        
    </body>
</html>