<!DOCTYPE html>
<html>
    
    <%- include('partials/head.ejs') %>
    
    <body>
        <%- include('partials/header.ejs') %>
        <div class="container-fluid">
            <section class="row">
                <div class="col-12" id="banner">
                    <h3>$00.00</h3>
                </div>
            </section>
            <section class="row">
                <div class="productos">
                        <article class="col-6" id="art2">
                            <h1>NOMBRE DE PRODUCTO</h1>
                            <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex reiciendis accusantium harum debitis t?</p>
                            <button type="button" class="btn btn-outline-success">Agregar al carrito</button>
                        </article>
                        <article class="col-6" id="art3">
                            <h4>Inicio/Productos/Detalles</h4>
                            <img src="/images/manzanas.jpg" alt="manzanas">
                        </article>
                </div>
            </section> 
        </div>
        <%- include('partials/scripts.ejs') %>
    </body>
    </html>
</html>
