<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
<body>
    <%- include('partials/header.ejs') %>
    <main>
        <div class="titulos">
            <img src="./images/logo-green-sin-fondo.png" alt="Logo">
            <h3>Trabajamos con productos organicos</h3>
            <button type="button" class="btn btn-secondary btn-lg"><a href="/users/login" style="text-decoration:none; color: whitesmoke;">Ingresar con tu usuario</a></button>
            <button type="button" class="btn btn-secondary btn-lg"><a href="/users/register" style="text-decoration:none; color: whitesmoke;">Registrate</a></button>
        </div>
    </main>
    <hr>
    <%- include('partials/footer.ejs') %>
    <%- include('partials/scripts.ejs') %>
</body>
</html>