<!DOCTYPE html>
<html>

    <%- include('partials/head.ejs') %>
    
    <body>
      
        <%- include('partials/header.ejs') %>        
        <main>
            <div class="titulos">
                    <h3 class="encabezado">Productos</h3>                    
            </div>
                <section class="vip-products">
                    <article class="producto">
                        <div class="photo-container">
                            <a href="#"><img class="photo" src="../images/tomates.jpg" alt="pdto 01"></a>
                        </div>
                        <h2>Tomates</h2>
                        <p>$10</p>
                    </article>
                    <article class="producto">
                        <div class="photo-container">
                            <a href="#"><img class="photo" src="../images/zanahoria.jpg" alt="pdto 02"></a>
                        </div>
                        <h2>Zanahoria</h2>
                        <p>$10</p>
                    </article>
                    <article class="producto">
                        <div class="photo-container">
                            <a href="#"><img class="photo" src="../images/manzana.jpg" alt="pdto 03"></a>
                        </div>
                        <h2>Manzanas</h2>
                        <p>$10</p>
                    </article>
                    <article class="producto">
                        <div class="photo-container">
                            <a href="#"><img class="photo" src="../images/banana.jpg" alt="pdto 01"></a>
                        </div>
                        <h2>Bananas</h2>
                        <p>$10</p>
                    </article>
                    <article class="producto">
                        <div class="photo-container">
                            <a href="#"><img class="photo" src="../images/naranja.jpg" alt="pdto 02"></a>
                        </div>
                        <h2>Naranja</h2>
                        <p>$10</p>
                    </article>
                    <article class="producto">
                        <div class="photo-container">
                            <a href="#"><img class="photo" src="../images/cereza.jpg" alt="pdto 03"></a>
                        </div>
                        <h2>Cerezas</h2>
                        <p>$10</p>
                    </article>
                </section>
        


        </main>
        <hr>
        <%- include('partials/footer.ejs') %>
        <%- include('partials/scripts.ejs') %>
        
    </body>
</html>