* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.main-header{
    background-color: #008000;
    height: 70px;
    padding: 10px;
}
.logo img{
    height: 30px;
    width: 50px;
    float: left;
}
.barra{
    background-color: whitesmoke; 
    justify-content: flex-end;
    display: flex;
    height: 100%;
}
.barra button{
    margin: 0.5%;
    background-color: whitesmoke;
    border: none;
}
.barra input{
    margin: 0.5%;
    background-color: whitesmoke;
}

.menu{
    position: relative;
    top: 22%;
    float: right;
}
.menu a{
    text-decoration: none;
    color: black;
}
.pagina-actual{
    background-color: rgb(226, 216, 216);
    padding: 20px 10px;
}
.main-header nav ul li{
    position: relative;
    float: left;
    list-style-type: none;
    padding: 5px;
}

main{
    height: 600px;
    color:black;
    text-align: center;
    background-image: url("../images/mix3.jpg");
}
.titulos{
    font-size: larger;
    position: relative;
    top: 40%;
}
h3{
    padding-bottom: 20px;
    padding-top: 20px;
}
footer{
    background-color: grey;
    height: 305px;
    padding: 20px;
}
img.mapa{
    float: left;
    width: 400px;
    height: 270px;
}
.texto-dire{
    display: block;
    float: left;
    width: 80px;
    color: white;
    padding-left: 10px;
    
}
.contacto{
    float: right;
    color: white;
}
.contacto ul li{
    list-style-type: none;
    padding-bottom: 10px;
    padding-right: 30px;
    text-align: center;
}
.contacto a{
    text-decoration: none;
    color: white;
    
}