.barra{

    background-color: whitesmoke; 

    justify-content: flex-end;

    display: flex;

    height: 100%;

}

.barra button{

    margin: 0.5%;

    background-color: whitesmoke;

    border: none;

}

.barra input{

    margin: 0.5%;

    background-color: whitesmoke;

}